<footer id="footer">
  <div id="social">
    <a href="https://github.com/robertodr" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
    &middot;
    <a href="https://gitlab.com/u/robertodr" title="GitLab"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
    &middot;
    <a href="https://twitter.com/_boberto_" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    &middot;
    <a href="https://www.linkedin.com/in/roberto-di-remigio-0166b169/" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    &middot;
    <a href="https://plus.google.com/u/0/+RobertoDiRemigio" title="Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    &middot;
    <a href="mailto:roberto.diremigio@gmail.com" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    &middot;
    <a href="https://keybase.io/robertodr" title="Keybase"><i class="fa fa-key" aria-hidden="true"></i></a>
    &middot;
    <a href="/atom.xml" title="Feed"><i class="fa fa-rss" aria-hidden="true"></i></a>
    &middot;
    <a href="http://stackoverflow.com/users/2528668/boberto" title="StackOverflow"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
  </div>
  <div id="credit">
    Designed by <a href="http://www.blaenkdenum.com">Jorge Israel Peña</a>
  </div>
</footer>

$if(preview)$
  $pushJS$
$endif$

$commentsJS$

<!-- google analytics -->
<script async="true" type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37339861-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!--MathJax CDN-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none"
  });

  MathJax.Hub.Register.MessageHook('End Process', function() {
    jQuery('#MathJax_Font_Test').empty();
    jQuery('.MathJax_Display').parent('.math').addClass('mobile-math');
  });
</script>
<script async="true" type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>
